
@media screen and (max-width: 600px) {
    .company-name-input{
        grid-column: 1/5;

    }

    #new-company-container h1{
        grid-column: 1/5;
        justify-self: center;
        color: white;
    }
}