
.ant-collapse{
    background: transparent;
    border: none;
}

.ant-collapse-content {
    background-color: transparent;
    border: none;
}

.ant-collapse > .ant-collapse-item {
    border-bottom: none;
}







