
.ant-collapse{
    background: transparent;
    border: none;
}

.ant-collapse-content {
    background-color: transparent;
    border: none;
}

.ant-collapse > .ant-collapse-item {
    border-bottom: none;
}

.ant-collapse-header{
    width: 90%;
    margin: 0 auto;
    padding: 0;
}







