:root {
    --toggler-width: 90%;
    --toggler-height: 40px;
    --toggler-bg-color: #da110a;
    --toggler-active-bg-color: #08853c;
    --menu-starting-top: 30px;
    --menu-ending-top: 40px;
    --menu-width: 90%;
    --menu-max-height: 200px;
    --fade-from-color: transparent;
    --fade-to-color: black;
    --timeout: 600ms;

}

.display-enter {
    top: var(--menu-starting-top);
    max-height: var(--toggler-height);
    color: var(--fade-from-color);

}

.display-enter-active {
    top: var(--menu-ending-top);
    max-height: var(--menu-max-height);
    color: var(--fade-to-color);
    transition: all var(--timeout);
}

.display-exit {
    top: var(--menu-ending-top);
    width: var(--menu-width);
    max-height: var(--menu-max-height);
    color: var(--fade-to-color);
}

.display-exit-active {
    top: var(--menu-starting-top);
    width: var(--toggler-width);
    max-height: var(--toggler-height);
    color: var(--fade-from-color);
    transition: all var(--timeout);
}